<mat-tab-group>
    <mat-tab label="Form">
        <div class="flex-container" style="font-family: 'Courier New', Courier, monospace;">
            <mat-card class="gloss-form-card">
                <mat-card-title>Create an interlinear text:</mat-card-title>
                <form [formGroup]="interlinearGlossForm" class="gloss-form">
                    <mat-form-field appearance="outline" class="language">
                        <mat-label>Source Language</mat-label>
                        <input matInput formControlName="sourceLanguage">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="dataset">
                        <mat-label>Dataset/Author</mat-label>
                        <input matInput formControlName="author">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="year">
                        <mat-label>Year(:Page)</mat-label>
                        <input matInput formControlName="year">
                    </mat-form-field>
            
                    <br> <br>
        
                    <div class="morpheme-gloss-pairs">
                        <table formArrayName="morphemeGlossMap">
                            <tr>
                                <td *ngFor="let morph of morphs().controls; let i=index" [formGroupName]="i">
                                    <mat-form-field appearance="outline" class="morpheme" id="morpheme{{i}}">
                                        <mat-label>Morph</mat-label>
                                        <input matInput formControlName="morph"
                                                        type="text"
                                                        class="morphs"/>
                                    </mat-form-field>
                                </td>
                                <td rowspan="2">
                                    <button mat-mini-fab color="primary" type="button" (click)="addPair()" class="add-morpheme">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td *ngFor="let morph of morphs().controls; let i=index" [formGroupName]="i">
                                    <mat-form-field appearance="outline" class="gloss" id="gloss{{i}}">
                                        <mat-label>Gloss</mat-label>
                                        <input matInput formControlName="gloss"
                                                        type="text"
                                                        class="glosses" />
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
            
                    <mat-form-field appearance="outline" class="freeTranslation">
                        <mat-label>Free Translation</mat-label>
                        <input matInput formControlName="freeTranslation">
                        <mat-hint>Natural language translation</mat-hint>
                    </mat-form-field>

                    <br><br>

                    <mat-form-field>
                        <mat-label>Font</mat-label>
                        <mat-select formControlName="fontForm">
                            <mat-option *ngFor="let font of this.fonts" [value]="font.value" >
                                {{font.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <br><br>
                    
                    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
                </form>
            </mat-card>
        </div>
        
        <mat-card>
            <mat-card-title>Formatted interlinear gloss:</mat-card-title>
            <table [style.font-family]="this.interlinearGlossForm.value.fontForm">
                <tr>
                    <td colspan="100">
                        <strong>{{this.interlinearGlossForm.value.sourceLanguage}}</strong> 
                        <span *ngIf="this.interlinearGlossForm.value.author || this.interlinearGlossForm.value.year">
                            ({{this.interlinearGlossForm.value.author}} {{this.interlinearGlossForm.value.year}}) 
                        </span>
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let pair of this.interlinearGlossForm.value.morphemeGlossMap"> 
                        <em>{{pair.morph}} </em> 
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let pair of this.interlinearGlossForm.value.morphemeGlossMap"> {{pair.gloss}}
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        <span *ngIf="this.interlinearGlossForm.value.freeTranslation">
                            "{{this.interlinearGlossForm.value.freeTranslation}}"
                        </span>
                    </td>
                </tr>
            </table>
        
        </mat-card>
        <mat-card>
            <p>Recommended citation: </p>
            <p>Closson, Reuben M. (2021). <em>Interliner Gloss Creator Web App</em> [Computer software], v. 1.3. Retrieved {{currDate | date}}, from http://ilg.closson.tech</p>
        </mat-card>
    </mat-tab>
    <mat-tab label="Library">
        <mat-card class="gloss-library-card">
            <mat-card-title>Glosses Created this Session:</mat-card-title>
            <table *ngFor="let ilg of ilgService.InterlinearGlossBank.getValue()"
                    [style.font-family]="this.interlinearGlossForm.value.fontForm">
                <tr>
                    <td colspan="100">
                        <strong>{{ilg.language}} </strong> 
                        <span *ngIf="ilg.author || ilg.year"> ({{ilg.author}} {{ilg.year}})</span>
                    </td>
                </tr>
                <tr *ngIf="ilg.phrases">
                    <td *ngFor="let pair of ilg.phrases">
                        <em>{{pair.morph}}</em>
                    </td>
                </tr>
                <tr *ngIf="ilg.phrases">
                    <td *ngFor="let pair of ilg.phrases">
                        {{pair.gloss}}
                    </td>
                </tr>
                <tr>
                    <td colspan="100">
                        <span *ngIf="ilg.freeTranslation">"{{ilg.freeTranslation}}"</span>
                    </td>
                </tr>
            </table>
        </mat-card>
        <mat-card>
            <p>Current font: {{this.interlinearGlossForm.value.fontForm}}</p>
            <p><strong>Recommended citation: </strong></p>
            <p [style.font-family]="this.interlinearGlossForm.value.fontForm">
                Closson, Reuben M. (2021). <em>Interliner Gloss Creator Web App</em> [Computer software], v. 1.3. Retrieved {{currDate | date}}, from http://ilg.closson.tech
            </p>
        </mat-card>
    </mat-tab>
</mat-tab-group>

